.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

h1 {
  margin: 50px;
  text-align: center;
  color: rgb(63, 4, 50);
}

li {
  list-style: none;
  margin: 2%;
}

h2,
p {
  text-align: center;
}

img {
  border-radius: 25px;
}

body {
  background: rgb(255, 219, 153);
}